* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header__slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-animation: changingSlider 15s linear infinite both;
          animation: changingSlider 15s linear infinite both;
}

.header__slider--first-image {
  z-index: 3;
}

.header__slider--second-image {
  z-index: 2;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.header__slider--third-image {
  z-index: 1;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Tangerine', cursive;
  font-weight: 500;
  color: #2c2c2c;
  z-index: 4;
}

.header__border {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
  border: 3px solid rgba(97, 95, 95, 0.6);
  border-top: none;
  z-index: 4;
}

.header__border .border__top {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  border-top: 3px solid rgba(97, 95, 95, 0.6);
}

.header__border .border__top--right {
  left: 70%;
}

@-webkit-keyframes changingSlider {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  3%,
  33% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes changingSlider {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  3%,
  33% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
}

.navigation__opener {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 5vh;
  z-index: 5;
}

.navigation__opener .navigation__icon {
  display: inline-block;
  line-height: 5vh;
  color: #2c2c2c;
}

.navigation__opener .navigation__icon--text {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Tangerine', cursive;
}

.navigation__opener .navigation__icon--triangle {
  font-size: 1.2rem;
  display: none;
}

.navigation__opener .navigation__icon--triangle.active-triangle {
  display: inline-block;
}

.menu {
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  opacity: 0;
  z-index: 5;
}

.menu.active-menu {
  opacity: 1;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.menu__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5px;
  list-style: none;
}

.menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(5) {
  border-bottom: 1px solid #585858;
}

.menu__item--title {
  display: none;
}

.menu__item .menu__link {
  color: #585858;
  font-size: .8rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 6rem;
  }
  .header__border {
    border: 5px solid rgba(97, 95, 95, 0.6);
    border-top: none;
  }
  .header__border .border__top {
    border-top: 5px solid rgba(97, 95, 95, 0.6);
  }
  .navigation__opener .navigation__icon--text {
    font-size: 5rem;
  }
  .navigation__opener .navigation__icon--triangle {
    font-size: 1.8rem;
  }
  .menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(5) {
    border-bottom: 2px solid #585858;
  }
  .menu__item .menu__link {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-height: 350px) {
  .header .header__slider {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__border .border__top {
    width: 35%;
  }
  .header__border .border__top--right {
    left: 65%;
  }
  @-webkit-keyframes changingSlider {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
    3%,
    33% {
      opacity: 1;
    }
    36% {
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes changingSlider {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
    3%,
    33% {
      opacity: 1;
    }
    36% {
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0;
    }
  }
  .navigation__opener {
    height: 10vh;
  }
  .navigation__opener .navigation__icon {
    line-height: 10vh;
  }
  .menu {
    width: 30%;
  }
  .menu__item .menu__link {
    font-size: .8rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 7rem;
  }
  .header__border {
    border: 6px solid rgba(97, 95, 95, 0.6);
    border-top: none;
  }
  .header__border .border__top {
    width: 10%;
    border-top: 6px solid rgba(97, 95, 95, 0.6);
  }
  .header__border .border__top--right {
    left: 90%;
  }
  .navigation__opener {
    display: none;
  }
  .menu {
    top: 5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 70%;
    height: 10vh;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    opacity: 1;
  }
  .menu__item {
    -ms-flex-preferred-size: 14%;
        flex-basis: 14%;
    padding: 0;
  }
  .menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(5) {
    border-bottom: none;
  }
  .menu__item--title {
    display: inline-block;
  }
  .menu__item .menu__link {
    line-height: 10vh;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .menu__item .menu__link--size {
    line-height: 8vh;
    font-weight: bold;
    font-size: 4.5rem;
    font-family: 'Tangerine', cursive;
  }
}

:root {
  --tangerine: 'Tangerine';
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.about__image {
  width: 110%;
}

.about__text {
  padding: 7vh 10%;
  color: #2c2c2c;
}

.about__text .text__title {
  padding-bottom: 2vh;
  font-size: 3rem;
  font-family: 'Tangerine';
  text-shadow: -2px 2px 5px #2c2c2c;
}

.about__text .text__description {
  font-size: .8em;
  opacity: .8;
}

.team__subtitle {
  margin: 5vh 10%;
  text-align: center;
  font-size: 2.5rem;
  font-family: tangerine;
}

.images-container {
  margin: 5vh 20%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.images-container .images-container__box {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 3vh 0;
  text-align: center;
}

.images-container .images-container__box:nth-of-type(5) {
  display: none;
}

.images-container .images-container__box:before {
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(78%, rgba(0, 0, 0, 0.58)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.58) 78%, black 100%);
  position: absolute;
  z-index: 1;
}

.images-container .images-container__box:nth-child(5):before {
  display: none;
}

.images-container .images-container__box .box__border {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
  border: 3px solid rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.images-container .images-container__box .box__image {
  width: 100%;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-box-shadow: 0 0 10px 2px black;
          box-shadow: 0 0 10px 2px black;
}

.images-container .images-container__box .box__text {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  color: #2c2c2c;
}

.images-container .images-container__box .box__workers-info {
  position: absolute;
  top: 65%;
  left: 0%;
  width: 100%;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.images-container .images-container__box .box__workers-info--job {
  top: 75%;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .team__subtitle {
    font-size: 5rem;
  }
  .images-container {
    margin: 5vh 20%;
  }
  .images-container .images-container__box .box__border {
    border: 5px solid rgba(255, 255, 255, 0.6);
  }
  .images-container .images-container__box .box__image {
    -webkit-box-shadow: 0 0 15px 4px black;
            box-shadow: 0 0 15px 4px black;
  }
  .images-container .images-container__box .box__workers-info {
    font-size: 2.8rem;
  }
  .images-container .images-container__box .box__workers-info--job {
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-height: 350px) {
  .team__subtitle {
    margin: 5vh 20%;
  }
  .images-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .images-container .images-container__box {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 3vh 0;
  }
  .images-container .images-container__box:nth-of-type(5) {
    display: block;
  }
  .images-container .images-container__box .box__text {
    font-size: 1.2rem;
  }
  .images-container .images-container__box .box__workers-info {
    font-size: .9rem;
  }
  .images-container .images-container__box .box__workers-info--job {
    font-size: .5rem;
  }
}

@media (min-width: 1024px) {
  .images-container .images-container__box .box__image {
    -webkit-box-shadow: 0 0 15px 4px black;
            box-shadow: 0 0 15px 4px black;
  }
  .images-container .images-container__box .box__text {
    font-size: 2rem;
  }
  .images-container .images-container__box .box__workers-info {
    font-size: 1.3rem;
  }
  .images-container .images-container__box .box__workers-info--job {
    font-size: .8rem;
  }
}

@media (min-width: 1440px) {
  .images-container .images-container__box .box__text {
    font-size: 3rem;
  }
  .images-container .images-container__box .box__workers-info {
    font-size: 1.8rem;
  }
  .images-container .images-container__box .box__workers-info--job {
    font-size: 1rem;
  }
}

.projects .projects__heading {
  position: relative;
  height: 20vh;
  width: 100%;
  background-image: url("../images/projects.jpg");
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  text-align: center;
}

.projects .projects__heading .heading__border {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.projects .projects__heading .heading__text {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  font-size: .7rem;
  color: rgba(255, 255, 255, 0.9);
}

.projects .projects__heading .heading__text--title {
  top: 45%;
  font-size: 1.6rem;
}

.projects__rooms {
  margin: 5vh 15%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item {
  position: relative;
  -ms-flex-preferred-size: 15vh;
      flex-basis: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.item__border {
  position: absolute;
  top: 5%;
  left: 3%;
  width: 94%;
  height: 90%;
  border: 1px solid rgba(44, 44, 44, 0.7);
  z-index: 1;
}

.item__image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.item__image--bedroom {
  background-image: url("../images/bedroom.jpg");
}

.item__image--kitchen {
  background-image: url("../images/kitchen.jpg");
}

.item__image--living {
  background-image: url("../images/living-room.jpg");
}

.item__image--bathroom {
  background-image: url("../images/bathroom.jpg");
}

.item__text-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  text-align: center;
}

.item__text-container .item__text {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  font-size: .4rem;
  color: #2c2c2c;
}

.item__text-container .item__text--title {
  top: 15%;
  font-family: tangerine;
  font-size: 1.3rem;
  color: rgba(44, 44, 44, 0.9);
}

.item__text-container .item__line {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  border: none;
  border-top: 1px solid #7e7e7e;
}

@media (min-width: 768px) {
  .projects .projects__heading {
    background-position: 50% 40%;
  }
  .projects .projects__heading .heading__border {
    border: 3px solid rgba(255, 255, 255, 0.6);
  }
  .projects .projects__heading .heading__text {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.9);
  }
  .projects .projects__heading .heading__text--title {
    top: 45%;
    font-size: 2.3rem;
  }
  .projects__rooms {
    margin: 5vh 10%;
    width: 80%;
  }
  .item__border {
    border: 2px solid rgba(44, 44, 44, 0.7);
  }
  .item__text-container .item__text {
    font-size: .8rem;
  }
  .item__text-container .item__text--title {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 350px) {
  .projects .projects__heading {
    height: 30vh;
    background-position: 50% 40%;
  }
  .projects__rooms {
    margin: 10vh 15%;
    width: 70%;
  }
  .item {
    -ms-flex-preferred-size: 20vh;
        flex-basis: 20vh;
  }
  .item__text-container .item__text {
    top: 55%;
    left: 30%;
    width: 40%;
  }
  .item__text-container .item__text--title {
    top: 15%;
  }
  .item__text-container .item__line {
    top: 45%;
  }
}

@media (min-width: 1024px) {
  .projects .projects__heading .heading__text {
    font-size: 1.3rem;
  }
  .projects .projects__heading .heading__text--title {
    font-size: 3rem;
  }
  .item {
    -ms-flex-preferred-size: 20vh;
        flex-basis: 20vh;
  }
  .item__text-container .item__text {
    left: 10%;
    width: 80%;
    font-size: .9rem;
  }
  .item__text-container .item__text--title {
    font-size: 2rem;
  }
}

.contact {
  position: relative;
  margin: 10vh 0;
  height: 15vh;
  background-color: beige;
}

.contact__container {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.info__icon-container {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

.info__icon-container .info__icon {
  line-height: 6vh;
  font-size: 1.3rem;
}

.info__text-container {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  padding: 5px 0;
}

.info__text-container .info__text {
  padding: 2px 0;
  font-size: .5rem;
}

@media (min-width: 768px) {
  .info__icon-container .info__icon {
    font-size: 2.3rem;
  }
  .info__text-container {
    padding: 5px 0;
  }
  .info__text-container .info__text {
    font-size: 1rem;
    padding: 2px 0;
  }
}

@media (orientation: landscape) and (min-height: 350px) {
  .contact {
    height: 20vh;
  }
  .contact__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .info {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .info__icon-container .info__icon {
    line-height: 16vh;
  }
  .info__text-container {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    padding: 15px 0;
  }
}

@media (min-width: 1024px) {
  .contact {
    height: 15vh;
  }
  .info {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .info__icon-container .info__icon {
    line-height: 12vh;
    font-size: 2.5rem;
  }
  .info__text-container {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    padding: 25px 0;
  }
  .info__text-container .info__text {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */