* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header__slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-animation: changingSlider 15s linear infinite both;
          animation: changingSlider 15s linear infinite both;
}

.header__slider--first-image {
  z-index: 3;
}

.header__slider--second-image {
  z-index: 2;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.header__slider--third-image {
  z-index: 1;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Tangerine', cursive;
  font-weight: 500;
  color: #2c2c2c;
  z-index: 4;
}

.header__border {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
  border: 3px solid rgba(97, 95, 95, 0.6);
  border-top: none;
  z-index: 4;
}

.header__border .border__top {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  border-top: 3px solid rgba(97, 95, 95, 0.6);
}

.header__border .border__top--right {
  left: 70%;
}

@-webkit-keyframes changingSlider {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  3%,
  33% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes changingSlider {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  3%,
  33% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
}

.navigation__opener {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 5vh;
  z-index: 5;
}

.navigation__opener .navigation__icon {
  display: inline-block;
  line-height: 5vh;
  color: #2c2c2c;
}

.navigation__opener .navigation__icon--text {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Tangerine', cursive;
}

.navigation__opener .navigation__icon--triangle {
  font-size: 1.2rem;
  display: none;
}

.navigation__opener .navigation__icon--triangle.active-triangle {
  display: inline-block;
}

.menu {
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  opacity: 0;
  z-index: 4;
}

.menu.active-menu {
  opacity: 1;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.menu__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5px;
}

.menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(5) {
  border-bottom: 1px solid #585858;
}

.menu__item--title {
  display: none;
}

.menu__item .menu__link {
  color: #585858;
  font-size: 1rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 6rem;
  }
  .header__border {
    border: 5px solid rgba(97, 95, 95, 0.6);
    border-top: none;
  }
  .header__border .border__top {
    border-top: 5px solid rgba(97, 95, 95, 0.6);
  }
  .navigation__opener .navigation__icon--text {
    font-size: 5rem;
  }
  .navigation__opener .navigation__icon--triangle {
    font-size: 1.8rem;
  }
  .menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(5) {
    border-bottom: 2px solid #585858;
  }
  .menu__item .menu__link {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-height: 350px) {
  .header .header__slider {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__border .border__top {
    width: 35%;
  }
  .header__border .border__top--right {
    left: 65%;
  }
  @-webkit-keyframes changingSlider {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
    3%,
    33% {
      opacity: 1;
    }
    36% {
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes changingSlider {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
    3%,
    33% {
      opacity: 1;
    }
    36% {
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0;
    }
  }
  .navigation__opener {
    height: 10vh;
  }
  .navigation__opener .navigation__icon {
    line-height: 10vh;
  }
  .menu {
    width: 30%;
  }
  .menu__item .menu__link {
    font-size: .8rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 7rem;
  }
  .header__border {
    border: 6px solid rgba(97, 95, 95, 0.6);
    border-top: none;
  }
  .header__border .border__top {
    width: 10%;
    border-top: 6px solid rgba(97, 95, 95, 0.6);
  }
  .header__border .border__top--right {
    left: 90%;
  }
  .navigation__opener {
    display: none;
  }
  .menu {
    top: 5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 70%;
    height: 10vh;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    opacity: 1;
  }
  .menu__item {
    -ms-flex-preferred-size: 14%;
        flex-basis: 14%;
    padding: 0;
  }
  .menu__item:nth-child(1), .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(5) {
    border-bottom: none;
  }
  .menu__item--title {
    display: inline-block;
  }
  .menu__item .menu__link {
    line-height: 10vh;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .menu__item .menu__link--size {
    line-height: 8vh;
    font-weight: bold;
    font-size: 4.5rem;
    font-family: 'Tangerine', cursive;
  }
}

.about {
  position: relative;
  height: 130vh;
  overflow: hidden;
  background-color: #e7dbdd;
}

.about__text {
  position: absolute;
  top: 65%;
  left: 20%;
  right: 25%;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Staatliches', cursive;
  color: white;
  letter-spacing: 1px;
  -webkit-box-shadow: -3px 3px 15px 0 white;
          box-shadow: -3px 3px 15px 0 white;
}

.main-container {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 60vh;
}

.main-container__image {
  -webkit-box-shadow: 0 0 15px 5px #ffdada;
          box-shadow: 0 0 15px 5px #ffdada;
}

.main-container__image--big {
  position: absolute;
  top: 0;
  left: 20%;
  height: 90%;
  width: 80%;
  background-image: url("../images/about1.jpg");
  background-position: center;
  background-size: cover;
}

.main-container__image--small {
  position: absolute;
  top: 60%;
  left: 0%;
  height: 40%;
  width: 50%;
  background-image: url("../images/about2.jpg");
  background-position: center;
  background-size: cover;
}

.main-container__title {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 3.5rem;
  font-family: 'Tangerine', cursive;
  color: rgba(255, 0, 0, 0.5);
  letter-spacing: 2px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.main-container__heading {
  position: absolute;
  top: 75%;
  left: 40%;
  font-size: 2rem;
  color: #ffeeee;
}

.main-container__heading--under {
  top: 85%;
}
/*# sourceMappingURL=main.css.map */