// About
:root {
    --tangerine: 'Tangerine';
}

.about {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__image {
        width: 110%;
    }

    &__text {
        padding: 7vh 10%;
        color: rgb(44, 44, 44);


        .text__title {
            padding-bottom: 2vh;
            font-size: 3rem;
            font-family: 'Tangerine';
            text-shadow: -2px 2px 5px rgb(44, 44, 44);
        }

        .text__description {
            font-size: .8em;
            opacity: .8;
        }
    }
}