* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --tangerine: 'Tangerine';
}

// Header

.header {
    position: relative;
    height: 100vh;
    overflow: hidden;

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-20%);
        animation: changingSlider 15s linear infinite both;

        &--first-image {
            z-index: 3;
        }

        &--second-image {
            z-index: 2;
            animation-delay: 5s;
        }

        &--third-image {
            z-index: 1;
            animation-delay: 10s;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        font-size: 3.8rem;
        font-family: var(--tangerine);
        font-weight: 500;
        color: rgba(44, 44, 44, .7);
        z-index: 4;
    }

    &__border {
        position: absolute;
        left: 5%;
        top: 5%;
        height: 90%;
        width: 90%;
        border: 3px solid rgba(97, 95, 95, 0.6);
        border-top: none;
        z-index: 4;

        .border__top {
            position: absolute;
            left: 0;
            top: 0;
            width: 30%;
            height: 100%;
            border-top: 3px solid rgba(97, 95, 95, 0.6);

            &--right {
                left: 70%;
            }
        }
    }

    @keyframes changingSlider {
        0% {
            transform: translateX(-20%);
            opacity: 0;
        }

        3%,
        33% {
            opacity: 1;
        }

        36% {
            opacity: 0;
        }

        100% {
            transform: translateX(-10%);
            opacity: 0;
        }
    }
}

// Navigation

.navigation {

    &__opener {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%, -50%);
        height: 5vh;
        z-index: 5;

        .navigation__icon {
            display: inline-block;
            line-height: 5vh;
            color: rgb(44, 44, 44);

            &--text {
                font-size: 3rem;
                font-family: var(--tangerine);
            }

            &--triangle {
                font-size: 1.2rem;
                display: none;
            }


            &--active {
                display: inline-block;
            }
        }
    }
}

// Menu

.menu {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    opacity: 0;
    z-index: 5;

    &.active-menu {
        opacity: 1;
        transition: 1s linear;
    }

    &__item {
        flex-basis: 50%;
        padding: 5px;
        list-style: none;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5) {
            border-bottom: 1px solid rgb(88, 88, 88);
        }

        &--title {
            display: none;
        }

        .menu__link {
            color: rgb(88, 88, 88);
            font-size: .8rem;
            text-decoration: none;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 768px) {
    // Header

    .header {

        &__title {
            font-size: 6rem;
        }

        &__border {
            border: 5px solid rgba(97, 95, 95, 0.6);
            border-top: none;

            .border__top {
                border-top: 5px solid rgba(97, 95, 95, 0.6);
            }
        }
    }

    // Navigation

    .navigation {

        &__opener {

            .navigation__icon {

                &--text {
                    font-size: 5rem;
                }

                &--triangle {
                    font-size: 1.8rem;
                }
            }
        }
    }

    // Menu

    .menu {

        &__item {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5) {
                border-bottom: 2px solid rgb(88, 88, 88);
            }

            .menu__link {
                font-size: 1.5rem;
            }
        }
    }
}

@media (orientation: landscape) and (min-height: 350px) {
    // Header

    .header {

        .header__slider {
            width: 100%;
            transform: translateX(0);
        }

        &__border {

            .border__top {
                width: 35%;

                &--right {
                    left: 65%;
                }
            }
        }

        @keyframes changingSlider {
            0% {
                transform: scale(1);
                opacity: 0;
            }

            3%,
            33% {
                opacity: 1;
            }

            36% {
                opacity: 0;
            }

            100% {
                transform: scale(1.5);
                opacity: 0;
            }
        }
    }

    // Navigation

    .navigation {

        &__opener {
            height: 10vh;

            .navigation__icon {
                line-height: 10vh;

            }
        }
    }

    // Menu

    .menu {
        width: 30%;

        &__item {

            .menu__link {
                font-size: .8rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    // Header

    .header {

        &__title {
            font-size: 7rem;
        }

        &__border {
            border: 6px solid rgba(97, 95, 95, 0.6);
            border-top: none;

            .border__top {
                width: 10%;
                border-top: 6px solid rgba(97, 95, 95, 0.6);

                &--right {
                    left: 90%;
                }
            }
        }
    }

    // Navigation

    .navigation {

        &__opener {
            display: none;
        }
    }

    // Menu

    .menu {
        top: 5%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 10vh;
        flex-wrap: nowrap;
        opacity: 1;

        &__item {
            flex-basis: 14%;
            padding: 0;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5) {
                border-bottom: none;
            }

            &--title {
                display: inline-block;
            }

            .menu__link {
                line-height: 10vh;
                font-size: 1.2rem;
                text-decoration: none;

                &--size {
                    line-height: 8vh;
                    font-weight: bold;
                    font-size: 4rem;
                    font-family: 'Tangerine', cursive;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    // Menu

    .menu {

        &__item {

            .menu__link {

                &--size {
                    font-size: 5rem;
                }
            }
        }
    }
}