// Opinions

.opinions {

    &__container {
        position: relative;
        margin: 10vh auto;
        width: 80%;
        height: 40vh;
        border: 3px solid rgba(44, 44, 44, 0.6);

        .opinions__title {
            position: absolute;
            top: 8%;
            left: 35%;
            width: 60%;
            text-align: center;
            font-size: 1.7rem;
            font-family: var(--tangerine);
            color: rgba(44, 44, 44, .7);
        }

        .opinions__line {
            position: absolute;
            top: 35%;
            left: 45%;
            width: 40%;
            border: none;
            border-top: 2px solid rgba(44, 44, 44, .7);
        }

        .opinions__image {
            position: absolute;
            top: 10%;
            left: 5%;
            width: 70px;
            height: 70px;
            background-image: url('../images/opinions1.jpg');
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            filter: grayscale(50%);
            transition: 1s;
            animation: hidingOpinion 12s linear infinite both;
        }

        .opinions__text {
            position: absolute;
            top: 50%;
            left: 20%;
            width: 65%;
            font-size: .8rem;
            animation: hidingOpinion 12s linear infinite both;
        }

        .opinions__name {
            position: absolute;
            top: 85%;
            left: 60%;
            font-size: 1.6rem;
            font-family: var(--tangerine);
            font-weight: bold;
            color: rgba(44, 44, 44, .7);
            animation: hidingOpinion 12s linear infinite both;
        }

        .opinions__circles-container {
            position: absolute;
            top: 75%;
            left: 5%;
            width: 60px;
            height: 15px;
            transform: rotate(45deg);
            display: flex;
            justify-content: space-between;

            .opinions__circle {
                flex-basis: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid rgba(44, 44, 44, .7);
                background-color: beige;

                &--active {
                    background-color: rgb(221, 221, 156);
                }
            }
        }
    }

    @keyframes hidingOpinion {
        0% {
            opacity: 0;

        }

        2% {
            opacity: 1;
            transform: scale(1);
        }

        29% {
            opacity: 1;
            transform: scale(1.1);
        }

        31%,
        35% {
            opacity: 0;
        }

        37% {
            opacity: 1;
            transform: scale(1);
        }

        60% {
            opacity: 1;
            transform: scale(1.1);
        }

        62%,
        70% {
            opacity: 0;
        }

        72% {
            opacity: 1;
            transform: scale(1);
        }

        97% {
            opacity: 1;
            transform: scale(1.1);
        }

        100% {
            opacity: 0;
        }
    }
}

@media (min-width: 768px) {
    // Opinions

    .opinions {

        &__container {
            border: 4px solid rgba(44, 44, 44, 0.6);

            .opinions__title {
                font-size: 3.5rem;
            }

            .opinions__line {
                top: 40%;
                border-top: 3px solid rgba(44, 44, 44, 0.6);
            }

            .opinions__image {
                width: 120px;
                height: 120px;
            }

            .opinions__text {
                font-size: 1.5rem;
            }

            .opinions__name {
                font-size: 3rem;
            }

            .opinions__circles-container {
                width: 100px;
                height: 25px;

                .opinions__circle {
                    flex-basis: 25px;
                    height: 25px;
                }
            }
        }
    }
}

@media (orientation: landscape) and (min-height: 350px) {
    // Opinions

    .opinions {

        &__container {
            height: 50vh;
            border: 2px solid rgba(44, 44, 44, 0.6);

            .opinions__line {
                top: 30%;
            }

            .opinions__text {
                top: 45%;
            }

            .opinions__name {
                top: 80%;
            }
        }
    }
}

@media (min-width: 1024px) {
    // Opinions

    .opinions {


        &__container {
            width: 60%;
            border: 5px solid rgba(44, 44, 44, 0.6);

            .opinions__title {
                font-size: 3rem;
            }

            .opinions__line {
                top: 35%;
                border-top: 4px solid rgba(44, 44, 44, 0.6);
            }

            .opinions__text {
                left: 25%;
                font-size: 1.4rem;
            }

            .opinions__name {
                font-size: 3rem;
            }
        }
    }
}

@media (min-width: 1440px) {
    // Opinions

    .opinions {


        &__container {


            .opinions__title {
                font-size: 4rem;
            }

            .opinions__name {
                font-size: 3.5rem;
            }
        }
    }
}