// Projects Heading

.projects {

    .projects__heading {
        position: relative;
        height: 20vh;
        width: 100%;
        background-image: url('../images/projects.jpg');
        background-position: center;
        background-size: cover;
        filter: grayscale(50%);
        text-align: center;

        .heading__border {
            position: absolute;
            top: 5%;
            left: 5%;
            height: 90%;
            width: 90%;
            border: 2px solid rgba(255, 255, 255, 0.6);
        }

        .heading__text {
            position: absolute;
            top: 35%;
            left: 0;
            width: 100%;
            font-size: .7rem;
            color: rgba(255, 255, 255, 0.9);

            &--title {
                top: 45%;
                font-size: 3rem;
                font-family: var(--tangerine);
            }
        }
    }
}

// Projects Rooms

.projects {

    &__rooms {
        margin: 5vh 15%;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}

// Projects Rooms Item

.item {
    position: relative;
    flex-basis: 15vh;
    display: flex;

    &--reverse {
        flex-direction: row-reverse;
    }

    &__border {
        position: absolute;
        top: 5%;
        left: 3%;
        width: 94%;
        height: 90%;
        border: 1px solid rgba(44, 44, 44, .7);
        z-index: 1;
    }

    &__image {
        flex-basis: 50%;
        background-position: center;
        background-size: cover;
        filter: grayscale(50%);

        &--bedroom {
            background-image: url('../images/bedroom.jpg');
        }

        &--kitchen {
            background-image: url('../images/kitchen.jpg');
        }

        &--living {
            background-image: url('../images/living-room.jpg');
        }

        &--bathroom {
            background-image: url('../images/bathroom.jpg');
        }
    }

    &__text-container {
        flex-basis: 50%;
        position: relative;
        text-align: center;

        .item__text {
            position: absolute;
            top: 55%;
            left: 10%;
            width: 80%;
            font-size: .4rem;

            &--title {
                top: 15%;
                font-family: var(--tangerine);
                font-size: 1.3rem;
                color: rgba(44, 44, 44, .7);
            }
        }

        .item__line {
            position: absolute;
            top: 50%;
            left: 30%;
            width: 40%;
            border: none;
            border-top: 1px solid rgb(126, 126, 126);
        }
    }
}

@media (min-width: 768px) {
    // Projects Heading

    .projects {

        .projects__heading {
            background-position: 50% 40%;

            .heading__border {
                border: 3px solid rgba(255, 255, 255, 0.6);
            }

            .heading__text {
                font-size: 1.1rem;
                color: rgba(255, 255, 255, 0.9);

                &--title {
                    top: 45%;
                    font-size: 4.5rem;
                }
            }
        }
    }

    // Projects Rooms

    .projects {

        &__rooms {
            margin: 5vh 10%;
            width: 80%;
        }
    }

    // Projects Rooms Item

    .item {
        &__border {
            border: 2px solid rgba(44, 44, 44, .7);
        }

        &__text-container {

            .item__text {
                font-size: .8rem;

                &--title {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media (orientation: landscape) and (min-width: 350px) {
    // Projects Heading

    .projects {

        .projects__heading {
            height: 30vh;
            background-position: 50% 40%;
        }
    }

    // Projects Rooms

    .projects {

        &__rooms {
            margin: 10vh 15%;
            width: 70%;
        }
    }

    // Projects Rooms Item

    .item {
        flex-basis: 20vh;

        &__text-container {

            .item__text {
                top: 55%;
                left: 30%;
                width: 40%;

                &--title {
                    top: 15%;
                }
            }

            .item__line {
                top: 45%;
            }
        }
    }
}

@media (min-width: 1024px) {
    // Projects Heading

    .projects {

        .projects__heading {

            .heading__text {
                font-size: 1.3rem;

                &--title {
                    font-size: 5rem;
                }
            }
        }
    }

    // Projects Rooms Item

    .item {
        flex-basis: 20vh;

        &__text-container {

            .item__text {
                left: 10%;
                width: 80%;
                font-size: .9rem;

                &--title {
                    font-size: 2rem;
                }
            }
        }
    }
}