// Projects Heading

.projects {

    .projects__heading {
        position: relative;
        min-height: 20vh;
        background-image: url('../images/projects.jpg');
        background-position: center;
        background-size: cover;
        filter: grayscale(50%);
        text-align: center;

        .heading__border {
            position: absolute;
            top: 5%;
            left: 5%;
            height: 90%;
            width: 90%;
            border: 2px solid rgba(255, 255, 255, 0.6);
        }

        .heading__text {
            padding: 2.5rem 0 0;
            font-size: .7rem;
            color: rgba(255, 255, 255, 0.9);
        }

        .heading__title {
            font-size: 3rem;
            font-family: var(--tangerine);
            color: rgba(255, 255, 255, 0.9);
        }
    }
}

// Projects Rooms

.projects {

    &__rooms {
        margin: 3rem 2rem;
        display: flex;
        flex-direction: column;
    }
}

// Projects Rooms Item

.item {
    position: relative;
    // min-height: 15vh;
    display: flex;

    &--reverse {
        flex-direction: row-reverse;
    }

    &__border {
        position: absolute;
        top: 5%;
        left: 3%;
        width: 94%;
        height: 90%;
        border: 1px solid rgba(44, 44, 44, .7);
        z-index: 1;
    }

    &__image {
        flex-basis: 50%;
        background-position: center;
        background-size: cover;
        filter: grayscale(50%);

        &--bedroom {
            background-image: url('../images/bedroom.jpg');
        }

        &--kitchen {
            background-image: url('../images/kitchen.jpg');
        }

        &--living {
            background-image: url('../images/living-room.jpg');
        }

        &--bathroom {
            background-image: url('../images/bathroom.jpg');
        }
    }

    &__text-container {
        flex-basis: 50%;
        position: relative;
        text-align: center;

        .item__title {
            margin: 1rem 0 0;
            font-family: var(--tangerine);
            font-size: 1.3rem;
            color: rgba(44, 44, 44, .7);
        }

        .item__text {
            margin: 0 1rem 1rem;
            font-size: .4rem;
        }

        .item__line {
            margin: .5rem auto;
            width: 40%;
            border: none;
            border-top: 1px solid rgb(126, 126, 126);
        }
    }
}

@media (min-width: 768px) {
    // Projects Heading

    .projects {

        .projects__heading {
            background-position: 50% 40%;

            .heading__border {
                border: 3px solid rgba(255, 255, 255, 0.6);
            }

            .heading__text {
                font-size: 1.1rem;
            }

            .heading__title {
                font-size: 4.5rem;
            }
        }
    }

    // Projects Rooms

    .projects {

        &__rooms {
            margin: 3rem 5rem;
        }
    }

    // Projects Rooms Item

    .item {
        &__border {
            border: 2px solid rgba(44, 44, 44, .7);
        }

        &__text-container {

            .item__title {
                font-size: 2.5rem;
            }

            .item__text {
                margin: 0 2rem;
                font-size: .8rem;
            }
        }
    }
}

@media (orientation: landscape) and (min-width: 350px) {
    // Projects Heading

    .projects {

        .projects__heading {
            min-height: 40vh;
            background-position: 50% 40%;
        }
    }

    // Projects Rooms

    .projects {

        &__rooms {
            margin: 3rem 5rem;
        }
    }

    // Projects Rooms Item

    .item {
        flex-basis: 30vh;

        &__text-container {

            .item__text {
                font-size: .5rem;
                margin: 0 3rem;
            }

            .item__title {
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    // Projects Heading

    .projects {

        .projects__heading {

            .heading__text {
                font-size: 1.3rem;
            }

            .heading__title {
                font-size: 5rem;
            }
        }
    }

    //  Projects Rooms

    .projects {

        &__rooms {
            margin: 7rem 7rem;
        }
    }

    // Projects Rooms Item

    .item {
        flex-basis: 20vh;

        &__text-container {

            .item__title {
                font-size: 2.5rem;
            }

            .item__text {
                font-size: .9rem;
            }
        }
    }
}